@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-washed: #171c1a;
    --gray-darkest-washed: #242e2b;
    --white-washed: #d9d9d9;
    --white-washed-dark: #b4bcba;

    --ui-gradient-bottom: #1a211f;
    --ui-gradient-top: #2a3532;
    --ui-border: var(--ui-gradient-top);
    --ui-shadow: #242e2b;
}

html {
    position: relative;
}

body {
    color: var(--white-washed);
    background: var(--black-washed);
}
