@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --3a-green: 150 86.5% 59.4%;
    --3a-red: 346 100% 69.8%;

    --black-washed: 160 8% 10%;
    --gray-darkest-washed: 160 10% 16%;
    --white-washed: 0 0% 85%;
    --white-washed-dark: 165 5% 72%;

    --ui-gradient-bottom: 160 10% 12%;
    --ui-gradient-top: 165 10% 19%;
    --ui-border: var(--ui-gradient-top);
    --ui-shadow: var(--gray-darkest-washed);
}

html {
    position: relative;
}

body {
    color: hsl(var(--white-washed));
    background: hsl(var(--black-washed));
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
